{% extends 'items/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="s1">
    <div class="main-container">
        <div class="greeting-wrapper">
            Cała amunicja w bazie:
        </div>

        <div class="randomizer">
            To randomizer -> <a href="{% url 'items:random_ammo'%}" class="generate-btn" type="button"
                style=>Ammo Randomizer</a>
        </div>

        <div class="page-wrapper">
            <div class="search-wrapper">
                <form class='nav-wrapper' id="searchForm" method="GET">
                    {{my_filter.form|crispy}}
                    <input id="submit-button" type="submit" value="search">
                </form>
            </div>

<div class="item-wrapper">
    {% for ammo in list_of_ammo %}
    <div>
        <div class="item">
            <img class="thumbnail" src="{{ ammo.thumbnail.url }} ">
            <div class="item-preview">
                <h4 class="item-title">{{ammo.name}}</h4>
                <h4 class="item-addition">craft: {{ ammo.crafting_difficulty}}</h4>
                <p class="item-intro">{{ammo.description|slice:":100"}} </p>

                <a id="item-link" class="btn btn-info" href="{% url 'items:detail_ammo' ammo.id_code %}">Read
                    more</a>
                <h4 class="item-price">cena:
                    <strong>{{ammo.price}}</strong>
                </h4>
                <hr>
            </div>
        </div>
    </div>

    {% empty %}
    <h3> No ammo yet... </h3>
    {% endfor %}

</div>


{% endblock content %}

