{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">

<section class="navbar">
    <div class='navigation'>
        <ul>
            <li data-mode="home" class='navbar_list' id="home">
                <a href="{% url 'items:index'%}">
                    <span class="icon">
                        <ion-icon name="skull-outline"></ion-icon>
                    </span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li data-mode="ranged" class='navbar_list' id="ranged">
                <a href="{% url 'items:all_ranged'%}">
                    <span class="icon">
                        <ion-icon name="telescope-outline"></ion-icon>
                    </span>
                    <span class="text">Ranged</span>
                </a>
            </li>
            <li data-mode="ammo" class='navbar_list' id="ammo">
                <a href="{% url 'items:all_ammo' %}">
                    <span class="icon">
                        <ion-icon name="rocket-outline"></ion-icon>
                    </span>
                    <span class="text">Ammo</span>
                </a>
            </li>
            <li data-mode="junk" class='navbar_list' id="junk">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="trash-outline"></ion-icon>
                    </span>
                    <span class="text">Junk</span>
                </a>
            </li>
            <li data-mode="data" class='navbar_list' id="data">
                <a href="#">
                    <span class="icon">
                        <ion-icon name="cog-outline"></ion-icon>
                    </span>
                    <span class="text">Data</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>

    <script type="text/javascript">
        let static = "{% static 'css' %}"
    </script>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</section>
