{% extends 'items/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>Ammunition RANDOMIZER</h1>

    <form id="searchForm" method="GET">
        <p>Rzut na dostępność wykonywany dla każdej pozycji osobno! </p>
        <input id="submit-button" type="submit" value="new generate">
    </form>

    {% if list_of_ammo %}
    <ul>
    {% for ammo in list_of_ammo %}

        <li>
            {{ ammo.name }} - cena w gamblach: {{ ammo.price }}
            <a id="" href="{% url 'items:detail_ammo' ammo.id_code %}">Read more</a>
        </li>

        {% endfor %}
    </ul>
    {% else %}
        <p>No ammunition is available.</p>
    {% endif %}

{% endblock content %}