{% extends 'items/main.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h1>RANGED WEAPON RANDOMIZER</h1>

    <form id="searchForm" method="GET">
        <p>Rzut na dostępność wykonywany dla każdej pozycji osobno! </p>
        <input id="submit-button" type="submit" value="new generate">
    </form>

    {% if list_of_guns %}
    <ul>
    {% for ranged in list_of_guns %}

        <li>
            {{ ranged.name }} - cena w gamblach: {{ ranged.price }}
            <a id="" href="{% url 'items:ranged_detail' ranged.id_code %}">Read more</a>
        </li>

        {% endfor %}
    </ul>
    {% else %}
        <p>No weapons are available.</p>
    {% endif %}

{% endblock content %}