{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Randomizer - test </title>
</head>
<body>
    <h1>RANDOMIZER TEST</h1>

    <form id="searchForm" method="GET">
        <p>Rzut na dostępność wykonywany dla każdej pozycji osobno! </p>
        <input id="submit-button" type="submit" value="new generate">
    </form>

    {% if list_of_guns %}
    <ul>
    {% for ranged in list_of_guns %}

        <li>{{ ranged.name }} - cena w gamblach: {{ ranged.price }} --> avail: {{ ranged.availability }}</li>

        {% endfor %}
    </ul>
    {% else %}
        <p>No weapons are available.</p>
    {% endif %}
</body>
</html>